body {
	background-color: #000;
}

/* Android */
.tablet-content { z-index: 2; }
.tablet-content .ui-header { -webkit-transform: translateZ(0px); }

/* fixes for add/remove queue buttons on categories/products pages on ICS tablets */
.icecreamsandwich .products .tablet .products-list li a.addtoqueue,
.icecreamsandwich .products .tablet .products-list li a.removefromqueue,
.icecreamsandwich .tablet .chipsets li a.addtoqueue,
.icecreamsandwich .tablet .chipsets li a.removefromqueue,
.icecreamsandwich .tablet .search-popup li a.addtoqueue, 
.icecreamsandwich .tablet .search-popup li a.removefromqueue {
	position: static;
	right: auto;
	top: auto;
	float: left;
	height: 40px;
}

.icecreamsandwich .products .tablet .product-name .product-description,
.icecreamsandwich .tablet .chipsets .product-name .product-description {
	padding-bottom: 0;
	padding-left: 50px;
	margin-right: 0;
}
.icecreamsandwich .tablet .search-popup .product-name .product-description {
	padding-left: 50px;
	margin-right: 0;
}

.icecreamsandwich .tablet .chipsets li,
.icecreamsandwich .tablet-content .products-list li, 
.icecreamsandwich .tablet .search-popup .products-list li { 
	margin-left: 0;
	padding-right: 0;
}

.queue .ui-footer {
	z-index: 99;
}

.menu-popup { z-index: 102; }

.header-image {
	line-height: 27px;
}

/* custom select used on Gingerbread */
.android-select span {
	display: inline-block;
	background-size: 100%;
	background-color: white;
	text-align: right;
	width: 189px;
	padding: 1px 2px;
	color: #363636;
}

.android-select span#topic {
	font-size: 12px;
	min-height: 19px;
	line-height: 19px;
	vertical-align: middle;
}

.android-select span#lang-select {
	width: auto;
	padding-right: 29px;
}

.select-options {
	background-size: 100%;
	background-color: white;
	width: 193px;
	margin-left: 80px;
	margin-top: -9px;
}

#lang-list { position: relative; }

.menu-settings .select-options {
	margin-top: 4px;
	/*width: 115px;
	margin-left: 144px; */
	border: 1px solid #004481;
	position: absolute;
}

.select-options ul {
	margin-left: 5px;
	margin-right: 0;
}

.select-options li {
	color: #363636;
	font-size: 12px;
	line-height: 25px;
	vertical-align: middle;
}

/* landscape adjustments */
.landscape .phone .android-select span {
	width: 349px;
	margin-bottom: 4px;
}

.landscape .phone .select-options {
	margin-left: 240px;
	margin-top: -12px;
}

.landscape .phone .menu-settings .select-options {
	/*margin-left: 355px;*/
	margin-top: 0;
	float: left;
}

/* fix header/scroll issue on Gingerbread */
.gingerbread .ui-content { 
	z-index: 2; 
	height: auto;
	overflow-y: visible;
}
.gingerbread .content {
	overflow-y: visible;
	overflow-x: visible;
}
.gingerbread .terms-copy, .gingerbread .trademarks-copy, .gingerbread .privacy-copy, .gingerbread .outer-settings, .gingerbread .outer-feedback, .gingerbread .menu-content {
	overflow-y: visible;
	overflow-x: visible;
	height: auto;
	background-color: #54565b;
	margin-top: 45px;
}
.gingerbread .outer-settings, .gingerbread .outer-feedback {
	min-height: 500px;
}
.gingerbread .terms-copy, .gingerbread .trademarks-copy, .gingerbread .privacy-copy {
	margin-top: 60px;
}
.gingerbread #lang-options, .gingerbread #topic-options {
	overflow-y: visible;
	overflow-x: visible;
	height: auto;
	z-index: 10;
}
.gingerbread .menu-settings, .gingerbread .menu-feedback, .gingerbread .search-content {
	height: auto;
	overflow-x: visible;
	overflow-y: visible;
}

/* workaround for display issue on ICS */
.searchbox,
.ui-field-contain input,
.ui-field-contain textarea {
	-webkit-user-modify: read-write-plaintext-only;
}

.no-kink .header {
	background-image:none;
}

.slide .tablet-content .ui-header { left: auto; }
.gingerbread .slide .tablet-content .ui-header { left: 320px; }
.gingerbread .slide .tablet-nav .ui-header { left: 0; }
.slide .tablet-nav .ui-header { left: auto; }
.queue-header { left: 0; }

.phone .share-popup,
.phone .extlinks-popup,
.phone .productlinks-popup,
.phone .search-popup {
	left: 0;
}

.phone .menu-feedback form .ui-field-contain textarea {
	max-height: none;
}

.phone .product-name a.product-description,
.phone .queue-list a.queue-product-row {
	margin-right: 55px;
}

.phone .categories-list a.addtoqueue,
.phone .categories-list a.removefromqueue,
.phone .queue-list a.addtoqueue,
.phone .queue-list a.removefromqueue {
	width: 55px;
}

.phone .search-popup a.addtoqueue span,
.phone .search-popup a.removefromqueue span {
	width: 52px;
}

.es .portrait .phone  .menu-feedback .ui-field-contain select,
.ru .portrait .phone .menu-feedback .ui-field-contain select,
.fr .portrait .phone .menu-feedback .ui-field-contain select,
.pl .portrait .phone .menu-feedback .ui-field-contain select,
.pt-br .portrait .phone .menu-feedback .ui-field-contain select {
	width: 100%;
}

.es .landscape .phone  .menu-feedback .ui-field-contain input,
.ru .landscape .phone .menu-feedback .ui-field-contain input,
.fr .landscape .phone .menu-feedback .ui-field-contain input,
.pl .landscape .phone .menu-feedback .ui-field-contain input,
.pt-br .landscape .phone .menu-feedback .ui-field-contain input,
.es .landscape .phone  .menu-feedback .ui-field-contain textarea,
.ru .landscape .phone .menu-feedback .ui-field-contain textarea,
.fr .landscape .phone .menu-feedback .ui-field-contain textarea,
.pl .landscape .phone .menu-feedback .ui-field-contain textarea,
.pt-br .landscape .phone .menu-feedback .ui-field-contain textarea {
	width: 61%;
}

